<h1>Neuer Post</h1>

<%= form_for @post do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>

  <div>
    <%= f.label :keywords %>
    <%= f.text_field :keywords %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
