<h2><%= @post.title %></h2>
<p>
  <%= @post.text %>
</p>

<h3>Neuen Kommentar</h3>
<div>
  <%= form_for [@post, Comment.new] do |f| %>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="form-floating mb-3">
            <%= f.text_field :text, class: 'form-control' %>
            <%= f.label :text %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-floating mb-3">
            <%= f.text_field :name, class: 'form-control' %>
            <%= f.label :name %>
          </div>
        </div>

        <div class="col">
          <div class="form-floating mb-3">
            <%= f.email_field :email, class: 'form-control' %>
            <%= f.label :email %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-floating mb-3">
            <%= f.submit class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

    </div>
  <% end %>
</div>

<h3>Kommentare</h3>
<ol>
  <% @post.comments.order(created_at: :desc).each do |comment| %>
    <li>
      <p>
        <%= comment.text %>
      </p>
      <p>
        <%= link_to comment.name, "mailto:#{comment.email}" %>
      </p>
      <p>
        <%= link_to 'Kommentar löschen', post_comment_path(@post, comment), method: 'DELETE' %>
      </p>
    </li>
  <% end %>
</ol>
